<!DOCTYPE html>
<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layoutContents.html}">
<head>
	<link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">
</head>
<div layout:fragment="content" class="pc__container">
	<div class="member_bg">
		<header class="header">
			<button class="btn_back_area">
				<div class="btn_back">
					<span class="blind">뒤로</span>
				</div>
			</button>
			<h1 class="header_txt">회원가입</h1>
		</header>
		<!-- #6215 랜딩페이지 수정: 상단 문구 삭제 -->
		<!-- <div class="join_bnr">
			<div class="join_bnr__txt join_bnr__txt-s">간단 무료회원가입으로</div>
			<div class="join_bnr__txt join_bnr__txt-l">실제 결혼 이상형 프로필을 확인하세요</div>
		</div> -->
		<!-- // #6215 랜딩페이지 수정: 상단 문구 삭제 -->
		<div class="join_container">
			<div class="top_logo">
				<img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/logo_yby2.png" alt="여보야 로고">
				<p class="ment">해외 거주자나 동포 여러분도 가입 가능합니다.</p>
			</div>
			<form action="/joinComplete" method="post">
<!--				<form action="/joinSuccess" method="post">-->
				<div class="join_box">
					<ul class="flex_container">
						<li>
							<div class="member_input">
								<input type="text" name = "id" class="input_txt" maxlength="30" placeholder="이메일">
								<label class="hidden">이메일 아이디 입력</label>
								<a class="input_del blind"><span class="blind">지우기</span></a>
							</div>
						</li>
						<li class="at_sign">@</li>
						<li>
							<div class="member_slct">
								<label class="hidden">이메일 입력</label>
								<select name="email">
									<option value="naver.com">naver.com</option>
									<option value="nate.com">nate.com</option>
									<option value="daum.net">daum.net</option>
									<option value="hanmail.net">hanmail.net</option>
									<option value="gamil.com">gmail.com</option>
									<option value="">직접입력</option>
								</select>
							</div>
							<div class="member_input hidden">
								<input type="text" class="input_txt">
								<label class="hidden">이메일 입력</label>
								<a class="input_del blind"><span class="blind">지우기</span></a>
							</div>
						</li>
					</ul>
					<!-- <p class="join_txt">※ 가입 후 수정이 불가능합니다. 정확히 입력 해 주세요.</p> -->
					<p class="join_txt">※ 가입 후 수정이 불가능합니다. 정확히 입력 해 주세요.</p>
					<!-- <p class="join_txt error">이메일 주소를 입력하세요.</p> -->
				</div>
				<div class="join_box password">
					<div class="member_input">
						<input type="password" name = "pw" class="input_txt" placeholder="비밀번호" maxlength="12">
						<label class="hidden">비밀번호</label>
						<a class="input_del blind"><span class="blind">지우기</span></a>
					</div>
					<div class="member_input">
						<input type="password" class="input_txt" placeholder="비밀번호 확인" maxlength="12">
						<label class="hidden">비밀번호 확인</label>
						<a class="input_del blind"><span class="blind">지우기</span></a>
					</div>
					<!-- <p class="join_txt">※ 영어, 숫자(4자 ~ 12자)</p> -->
					<!-- <p class="join_txt confirm">등록 가능합니다.</p> -->
					<!-- <p class="join_txt error">4자 ~ 12자 영어, 숫자만 사용가능합니다.</p> -->
					<p class="join_txt">※ 영어, 숫자(4자 ~ 12자)</p>
				</div>
				<div class="join_box">
					<ul class="flex_container">
						<li>
							<div class="member_input">
								<input type="text" name = "nick" class="input_txt" placeholder="대화명">
								<label class="hidden">대화명</label>
								<a class="input_del blind"><span class="blind">지우기</span></a>
							</div>
						</li>
						<li>
							<ul class="sex_slct">
								<li class="slct_man">
									<input type="radio" class="sex_input" name="gender" value="man">
									<label class="sex_lb"><span class="blind">남성</span></label>
								</li>
								<li class="slct_woman">
									<input type="radio" class="sex_input" name="gender" value="woman">
									<label class="sex_lb"><span class="blind">여성</span></label>
								</li>
							</ul>
						</li>
					</ul>
					<p class="join_txt">※ 한글만 사용할 수 있습니다. (2자 ~ 8자)</p>
				</div>
				<div class="join_box">
					<ul class="flex_container">
						<li>
							<div class="member_slct">
								<label class="hidden">태어난 년도</label>
								<select name="birth">
									<option value="0000">태어난 년도</option> <!-- 20세 ~ 99세 -->
									<option value="2002">2002</option>
									<option value="2001">2001</option>
									<option value="2000">2000</option>
									<option value="1905">1905</option>
									<option value="1904">1904</option>
									<option value="1903">1903</option>
								</select>
							</div>
						</li>
						<li>
							<div class="btn_slct_area">
								<input type="hidden" name="locWantKey" id="locWantKey">
								<input type="hidden" name="locWant" id="locWant">
								<a>지역&nbsp;&nbsp;&nbsp;&nbsp;국내/해외</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="join_box">
					<div class="btn_hope_area">
						<a class="">배우자 희망지역</a>
						<input type="hidden" id="wantLoc" name="wantLoc">
					</div>
					<p class="join_txt error"></p>
				</div>
				<div class="agree_policy">
					<div class="policy_chk_wrap">
						<input type="checkbox" class="policy_chk">
						<label class="policy_lb">약관 및 개인정보 보호 정책에 동의합니다.</label>
					</div>
					<a class="btn_view_policy"><u>[보기]</u></a>
				</div>
				<div class="btn_member">
					<button>가입완료</button>
				</div>
				<p class="jn_msg">※ 한번가입으로 <span>PC 웹, 모바일 웹</span> 어디서나 사용이 가능합니다.</p>
			</form>
			<div class="join__bnr">
				<img src="https://image.yeoboya.com/imgs/new_wedding/new_jsp/evnt/evnt_welcome/bnr_welcome.png" alt="웰컴 신규이벤트" class="join__bnr_img">
			</div>
		</div>
	</div>

	<!--  지역 선택 모달 -->
	<div class="normal_pop_wrap hidden" id="locTest">
	</div>
	<!-- 배우자 희망지역 모달 -->
	<div class="normal_pop_wrap want_loc hidden">
	</div>
</div>
<section layout:fragment="contentScriptFragment">
	<script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/join2.bundle.js')}"></script>
<!--	<script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/join.bundle.js')}"></script>-->
</section>
</html>