<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--<section layout:fragment="content">-->
<div layout:fragment="content">
<table th:border="solid">
  <tr>
    <td><a th:href="@{/test}">버튼1</a></td>
  <td><a th:href="@{/test2}">버튼2</a></td>
  </tr>
</table>

</div>
<!--</section>-->
<script>
  setCookie("Ck_01","on","1");


</script>

</body>
</html>